<div class="row">
  <h2 class="text-center">Products</h2>
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
        <%= form_for @product, html: { multipart: true } do |f| %>
          <div class="field form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= f.label :price %>
            <%= f.number_field :price, class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= f.label :images %>
            <%= f.file_field :images, class: "form-control" %>
            <%= hidden_field_tag :images_cache %>
          </div>
          <div class="actions">
            <%= f.submit "Submit", class: "btn btn-success" %>
          </div>
        <% end %>
    </div>
  </div>
</div>